*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: lightblue;
}

header{
  text-align: center;
  color: white;
  font-size: 35px;
  font-family: Courier, Monaco, monospace;
}

.container{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.riga{

  margin-top: 50px;
}

.card{
  background-image: url(../assets/img5/pattern.png);
  height: 200px;
  width: 150px;
  border-radius: 10px;
  background-size: 100%;
  margin-left: 30px;
  position: relative;
  display: inline-block;

}

.bicicletta:hover{
  background-color: white;
  background-image: url(../assets/img5/Bicycle.png);
}
.bicicletta p{
  position: absolute;
  bottom: 10px;
  left: 45px;
  font-family: 'Brush Script MT', cursive;
  font-size: 30px;
  color: blue;
}

 .sottomarino:hover{
   background-color: white;
   background-image: url(../assets/img5/Submarine.png);
 }
 .sottomarino p{
   position: absolute;
   bottom: 10px;
   left: 25px;
   font-family: 'Brush Script MT', cursive;
   font-size: 30px;
   color: yellow;

 }
.baloon:hover{
  background-color: white;
  background-image: url(../assets/img5/air_balloon.png);
  background-size: 115%;
}
 .baloon p{
   position: absolute;
   bottom: 10px;
   left: 25px;
   font-family: 'Brush Script MT', cursive;
   font-size: 30px;
   color: purple;
 }

  .nave:hover{
    background-color: white;
    background-image: url(../assets/img5/Cruise_ship.png);

    }
  .nave p{
      position: absolute;
      bottom: 10px;
      left: 20px;
      font-family: 'Brush Script MT', cursive;
      font-size: 30px;
      color: green;

    }

  .trattore:hover{
    background-color: white;
    background-image: url(../assets/img5/Tractor.png);
  }

  .trattore p{
    position: absolute;
    bottom: 10px;
    left: 40px;
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
    color: orange;
  }

  .tram p{
    position: absolute;
    bottom: 10px;
    left: 40px;
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
    color: red;
  }

  .tram:hover{
    background-color: white;
    background-image: url(../assets/img5/Tram.png);
  }

  p{
    display: none;
  }
  .card:hover p{
    display: block;
  }

footer p{

  font-family: fantasy;
  margin-top: 10px;
}
